
<div class="lists__inner">
        <div class="lists__item">
        <div class="lists__item-text">Номер телефона:</div>
        <div class="lists__item-info"><%=@list.tel%> </div>
        </div>
        <div class="lists__item">
        <div class="lists__item-text">Адреса клієнта:</div>
        <div class="lists__item-info"><%=@list.adress%> </div>
        </div>
        <div class="lists__item">
        <div class="lists__item-text">Вид роботи:</div>
        <div class="lists__item-info"><%=@list.works%></div>
        </div>
        <div class="lists__item">
        <div class="lists__item-text">Статус:</div>
        <div class="lists__item-info"><%=@list.status%></div>
        </div>
        <div class="lists__item">
        <div class="lists__item-text">Бригада:</div>
        <div class="lists__item-info"><%=@list.team%> </div>
        </div>
        <div class="lists__item">
        <div class="lists__item-text">Примітка:</div>
        <div class="lists__item-info"><%=@list.descr%></div>
        </div>
        <div class="lists__item">
        <div class="lists__item-text">Дата створення:</div>
        <%if @list.date==nil%>
        <div class="lists__item-info"><%=@list.created_at%></div>
        <%else%>
        <div class="lists__item-info"><%=@list.date%></div>
        <%end%>
        </div>
<p><%=link_to "Редагувати",edit_list_path(@list), class:"btn btn-warning"%></p>
<br>
<p><%=link_to "Видалити", list_path(@list),method: :delete,  class:"btn btn-danger"%></p>
</div>
